<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="container">
  <table class="table table-sm table-striped table-hover table-dark">
    <caption>List of measured values</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tijd</th>
        <th scope="col">Waarde</th>
      </tr>
    </thead>
    <tbody>
      {% for meting in metingen %}
      <tr>
        <td>{{meting.tijdstempel}}</td>
        <td>{{meting.meetwaarde}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>

</html>